<div class = "pic-back">
  <div class="jumbotron">
    <div class="welcome-banner">
      <h1>Welcome to Photo Friends!</h1>
      <p>A private family photo sharing and social media website.</p>
      <p>
        <%= link_to "Sign up", new_user_path, class: "btn btn-primary btn btn-ovr" %> 
        or if you have an account:
      </p>
      <div class="sign-in">
        <%= form_tag sessions_path, html: { class: "form-signin" } do %>
          <h2 class="form-signin-heading">Sign in:</h2>
          <%= text_field_tag :credential_name, params[:credential_name], class: "form-control text-field", 
            placeholder: "Email or Username" %>
          <%= password_field_tag :password, nil, class: "form-control pass-field", placeholder: "Password" %>
          <%= submit_tag 'Submit', :class => "btn btn-lg btn-primary btn-block", method: :post %>
        <% end %>
      </div>
    </div>
  </div>
</div>
