<script>changetofriends()</script>
<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <h1><%= @group.name %></h1>
  <% if @gallery.blank? %>
    <h2>You have no galleries!</h2>
    <div class="col-md-3 col-md-offset-5">  
      <%= link_to '<button class="btn pull-left btn-primary">Create</button>'.html_safe, new_user_group_gallery_path(@user, @group) %>
      <p style="text-indent: 10px;">a new one!</p>
    </div>
  <% else %>
    <div class="container">
        <% @gallery.each_slice(3) do |slice| %>
          <div class="row">
              <% slice.each do |g| %>
                <div class="col-md-4 gallery-cont">
                 <div class="gallery">
                    <h2><%= g.name %></h2>
                    <%= image_tag("/assets/large/4.jpg") %>
                    <%= link_to "Edit Gallery", edit_user_group_gallery_path(@user.id, @group.id, g.id), class: "btn btn-default pull-left" %>
                    <%= link_to "Add Photo", new_user_group_gallery_photo_path(@user.id, @group.id, g.id), class: "btn btn-default pull-right" %>
                 </div>
                </div>
              <% end %>
          </div>
        <% end %>
    </div>
  <% end %>
  <div class="btns">
    <%= link_to '<button class="btn pull-right btn-primary">Group Settings</button>'.html_safe, edit_user_group_path(current_user.id, @group) %>
    <%= link_to '<button class="btn pull-right btn-primary btn-spc">New Gallery</button>'.html_safe, new_user_group_gallery_path(@user, @group) %>
  </div>
  </div>

