<p id="notice"><%= notice %></p>

<p>
  <strong>When:</strong>
  <%= @event.when %>
</p>

<p>
  <strong>Where:</strong>
  <%= @event.where %>
</p>

<p>
  <strong>User:</strong>
  <%= @event.user %>
</p>

<p>
  <strong>Text:</strong>
  <%= @event.text %>
</p>

<p>
  <strong>Group:</strong>
  <%= @event.group %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
