<%= form_for(@photo, url: user_group_gallery_photo_path(@user, @group, @gallery, @photo)) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="jumbotron">
      <% if request.path == edit_user_group_gallery_photo_path(@user.id, @group.id, @gallery.id, @photo.id) %>
          <h2>Edit photo information</h2>
      <% else %>
          <h2>Upload a new photo</h2>
      <% end %>
      <div class="field form-group">
          <%= f.label :image, class: "text-primary field-label control-label col-lg-2" %>
          <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="col-lg-10">
              <div class="fileupload-preview thumbnail" style="width: 400px; height: 400px">
                <%= image_tag(@photo.image, size: "400x400", class: "image") %>
              </div>
              <span class="btn btn-file btn-primary"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><%= f.file_field :avatar %></span>
              <a href="#" class="btn fileupload-exists btn-danger" data-dismiss="fileupload">Remove</a>
            </div>
          </div>
        </div>
        <div class="field">
        <%= f.label :caption %><br>
        <%= f.text_field :caption, class: "form-control" %>
        </div>
        <div class="field">
        <%= f.hidden_field :gallery, value: @gallery.id %>
        </div>
        <div class="actions">
        <%= f.submit "Save Photo", class: "btn btn-primary" %>
        </div>
    </div>
<% end %>

<script>changetofriends()</script>