<%= form_for(@photo, url: user_group_gallery_photo_path(@user, @group, @gallery, @photo)) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="jumbotron">
      <% if request.path == edit_user_group_gallery_photo_path(@user.id, @group.id, @gallery.id, @photo.id) %>
          <h2>Edit photo information</h2>
      <% else %>
          <h1>Upload a new photo</h1>
      <% end %>
      <div class="row">
          <div class="field form-group col-md-6">
              <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="col-lg-8 col-lg-offset-2">
                  <span class="btn btn-file btn-primary"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><%= f.file_field :image %></span>
                  <div class="fileupload-preview thumbnail upload" style="width: 200px; height: 200px">
                    <%= image_tag(@photo.image, size: "200x200", class: "image") %>
                  </div>

                  <a href="#" class="btn fileupload-exists btn-danger" data-dismiss="fileupload">Remove</a>
                </div>
              </div>
          </div>
          <div class="field col-md-6">
            <%= f.label :caption %><br>
            <%= f.text_field :caption, class: "form-control" %>
          </div>
        </div>
        <div class="field">
        <%= f.hidden_field :gallery, value: @gallery.id %>
        </div>
        <div>
          <p class='alert-danger'>Special characters such as single quotes or double quotes are not allowed in the caption field!!!</p>
        </div>
        <div class="actions">
        <%= f.submit "Save Photo", class: "btn btn-primary pull-right" %>
        </div>
    </div>
<% end %>

<script>
    $(document).ready(function(){
        setbackground("<%= get_background(@group.id) %>");
    });
</script>