<div class="jumbotron">
    <h1>Edit Photo Collection</h1>

    <div id="thumbs">
        <% @photos.each do |photo| %>
          <div id="<%= photo.id %>" class="photo-thumb" onclick="show_photo('<%= photo.id %>', '<%= photo.image %>', ' <%= photo.caption %>');">
            <img src="<%= photo.image_url(:thumb) %>">
          </div>
        <% end %>
     </div>
</div>
<div id='photo-dialog' data-photoid=''>
  <img id='dialog-photo' src=''>
  <div id='header' class='dialog-header'>
    <h4></h4>
  </div>
  <div id='exit-button' class='exit' data-toggle='tooltip' title='Close Window' onclick="$('#photo-dialog').dialog('close');">
    <img src='/assets/Button-Close-icon.png'>
  </div>
  <div id='delete-button' class='delete' data-toggle='tooltip' title='Delete Photo' onclick="delete_photo('<%= @user.id %>', '<%= @group.id %>', '<%= @gallery.id %>');">
    <img src='/assets/DeleteRed.png'>
  </div>
</div>
<script>
    $(document).ready(function(){
        setbackground("<%= get_background(@group.id) %>");
        $('#photo-dialog').dialog({
            autoOpen: false,
            height: 'auto',
            width: 'auto',
            modal: true
        }).dialog("widget").find(".ui-dialog-title").hide();
        $('#exit-button').tooltip({ trigger: "hover", container: 'body' });
        $('#delete-button').tooltip({ trigger: "hover", container: 'body' });
    });
</script>



