<!DOCTYPE html>
<html>
<head>
  <title>Photo Friends</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<% if session[:user_id] %>
  <%= render 'layouts/navbar' %>
<% end %>
  
<%= yield %>
<br />
<div class="debug-div">
  <%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>
